---
Checks: >
  bugprone-*,
  google-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -modernize-use-designated-initializers,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
WarningsAsErrors: '*'
HeaderFilterRegex: '(include|src|tests|examples)/.*'
FormatStyle: file
